.App {
  text-align: center;

  .header {
    margin-bottom: 20px;
  }

  .banner {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
  }

  h1 {
    margin: 20px 0;
    font-size: 36px;
  }

  .navbar {
    margin-bottom: 20px;
  }
  
}